<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - List, If Condition, For Loop</h2>

### Task 1

1. You are a Marvel fan and created a list of superheroes.

```py
avengers  = [â€˜Iron Manâ€™, â€˜Captain Americaâ€™, â€˜Black Widowâ€™, â€˜Hulkâ€™, â€˜Thorâ€™, â€˜Hawkeyeâ€™]
```

Using this list, calculate how many members in the Avengers team?

In [81]:
avengers  = ['Iron Man', 'Captain America', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']
print(len(avengers))

6

In [82]:
# write your code here to print total number of members in avengers team
print(f"The total number of members in avengers team is {len(avengers)}")

The total number of members in avengers team is 6

### Task 2

Awesome. Now Iron Man made Spider-Man a new member of the Avengers, add him to your list at the end

In [83]:
# write your code here
avengers.append("Spider Man")
avengers

['Iron Man',
 'Captain America',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider Man']

### Task 3

Looks like you are loving this avengers exercise alreadyðŸ˜„, Let's add a twist to it. Everyone came to a conclusion that Captain America is the leader of the Avengers, so please add him before the Iron Man. Hint: You can first remove him from the list and add before the Iron Man. To remove him you can use a method called .pop()

ðŸ’¡ Feel free to take help of ChatGPT just in case you are confused about pop() method. Remember becoming a good Python programmer is all about how well you can learn new things on your own

In [84]:
# write your code here
captain_america = avengers.pop(1)
captain_america

'Captain America'

In [85]:
avengers.insert(0, "Captain America")
avengers

['Captain America',
 'Iron Man',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider Man']

### Task 4

Thor and Hulk are getting angry easily and fight with each other. So you have to separate them with each other. To separate them, move â€œBlack Widowâ€ in between them.

In [86]:
# write your code here
black_widow = avengers.pop(2)
avengers

['Captain America', 'Iron Man', 'Hulk', 'Thor', 'Hawkeye', 'Spider Man']

In [87]:
avengers.insert(3, black_widow)
avengers

['Captain America',
 'Iron Man',
 'Hulk',
 'Black Widow',
 'Thor',
 'Hawkeye',
 'Spider Man']

### Task 5

Below list contains scores of students in a class as per their roll number. Which means the first element is for roll # 1, second one is for roll # 2 and so on. Print the scores of,

1. The first student
1. The last student
1. First 3 students
1. Scores of roll # 3, 4 and 5

In [88]:
scores = [92, 85, 76, 58, 89, 91, 73, 84]

In [89]:
# score of the first student
scores[0]

92

In [90]:
# score of the last student
scores[-1]

84

In [91]:
# scores of the first 3 students
scores[:3]

[92, 85, 76]

In [92]:
# scores of roll # 3, 4 and 5
scores[2:5]

[76, 58, 89]

### Task 6

We got a result of one more student which is 83 marks. Append this to the ```scores``` at the end and print the list

In [93]:
# write your code here
scores.append(83)
scores

[92, 85, 76, 58, 89, 91, 73, 84, 83]

### Task 7

Categorizes each score into a grade based on the following thresholds:

1. A: 90 to 100
1. B: 80 to 89
1. C: 70 to 79
1. D: 60 to 69
1. F: Below 60

Count the number of students in each grade category and print the summary of how many students received each grade. 

Expected output

```
Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students
```

In [94]:
# write your code here
# Initialize counters for each grade
grade_A = grade_B = grade_C = grade_D = grade_F = 0

# Process each score in the list using a for loop
for score in scores:
    if score >= 90:  # Condition for grade A
        grade_A += 1
    elif score >= 80:  # Condition for grade B
        grade_B += 1
    elif score >= 70:  # Condition for grade C
        grade_C += 1
    elif score >= 60:  # Condition for grade D
        grade_D += 1
    else:  # Condition for grade F
        grade_F += 1

In [95]:
# Print the grade summary
print("Grade Summary:")
print(f"- A: {grade_A} students")
print(f"- B: {grade_B} students")
print(f"- C: {grade_C} students")
print(f"- D: {grade_D} students")
print(f"- F: {grade_F} students")

Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students

### Task 8

Managing inventory efficiently is crucial for businesses to ensure they do not run out of key products. This exercise simulates a simple inventory management system where the user can see which items are below the minimum stock level and need reordering. Below you have two lists that stores product names and their inventory stock levels.Using that,

1. Check each item to see if its stock level is below a minimum threshold.
1. If the stock level is below the minimum, add the product's name to a reorder list.
1. Print a list of products that need to be reordered.

Expected Output
```
Items to Reorder:
- Pears
- Grapes
```

In [96]:
# write your code here
# Lists for product names and stock levels
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

In [97]:
# Minimum stock threshold
minimum_stock = 10

# Initialize a list to hold names of items that need reordering
reorder_list = []

In [98]:
# Loop through the indices of the lists
for item in range(len(product_names)):
    # Check if the stock level is below the minimum threshold
    if stock_levels[item] < minimum_stock:
        # Print a message indicating that the product is out of stock
        print(f"{product_names[item]} is low on stock.")
        # Add the product name to the reorder list
        reorder_list.append(product_names[item])

Pears is low on stock.
Grapes is low on stock.

In [ ]:
# Print out the reorder list
print("Items to Reorder:")
for product in reorder_list:
    print(f"- {product}")

- Pears
- Grapes