### String introduction and index operator

In [14]:
first = "sujoy"
last = "deb"

In [15]:
type(first)

str

In [16]:
name = first + " " + last
name

'sujoy deb'

In [17]:
age = 29

In [18]:
info = f'{first} {last} is {age} years old'
info

'sujoy deb is 29 years old'

In [19]:
name[0]

's'

In [20]:
name[0:5]

'sujoy'

In [21]:
name[6:]

'deb'

In [22]:
name[-6:]

'oy deb'

In [23]:
len(name)

9

### Strings are immutable

In [24]:
name[1]='S'

TypeError: 'str' object does not support item assignment

### single vs double vs tripple quotes

In [12]:
food_story = "joy's favourite food is chicken"
s = 'he said "oops"'

In [13]:
recipe = "Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro."
recipe

'Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.'

In [ ]:
print(recipe)

### in operator

In [25]:
# Check if 'cardamom' is mentioned in the dish description
spice = "cardamom"
spice in recipe

True

In [26]:
"milk" in recipe

False

### Some useful functions: replace, upper, lower, str, index, isdigit etc

In [34]:
s = "patient was charged 100$ for lab test"
s

'patient was charged 100$ for lab test'

In [39]:
s = s.replace("100$", "50$")
s

'patient was charged 200$ for lab test'

In [38]:
s

'patient was charged 200$ for lab test'

In [40]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
s = s.upper()
s

'PATIENT WAS CHARGED 200$ FOR LAB TEST'

In [44]:
'410'.isdigit()

True

In [45]:
'410a'.isdigit()

False

In [47]:
s.index('WAS')

8

In [48]:
tickers="AAPL|NVDA|RIL|GOGL"
tickers.split("|")

['AAPL', 'NVDA', 'RIL', 'GOGL']

In [49]:
data = "  hey, we have to go there, you coming der ? "
data

'  hey, we have to go there, you coming der ? '

In [50]:
data.strip()

'hey, we have to go there, you coming der ?'

In [51]:
file_name="report.pdf"
file_name.endswith(".pdf")

True

In [52]:
age=38
text="my age is:"
text+age

TypeError: can only concatenate str (not "int") to str

In [53]:
age

38

In [54]:
str(age)

'38'

In [55]:
text+str(age)

'my age is:38'

### Python format strings: a.k.a f strings and special characters: \n \t

In [56]:
height = 65
weight = 75

patient_information = f"Height: {height} cm, Weight: {weight} kg"
patient_information

'Height: 65 cm, Weight: 75 kg'

In [57]:
s="hey\tbro"
print(s)

hey	bro