### Variables Introduction: String, Numbers, Boolean

Variables are containers that store some type of data. For example soda can is a container that contains soda

In [4]:
can = "soda"
can

'soda'

In [5]:
print(can)

soda

In [6]:
can = "beans"
can

'beans'

In [7]:
type(can)

str

In [8]:
pizza = 100
pizza

100

In [9]:
type(pizza)

int

In [10]:
samosa=20.5
ice_cream=100

In [11]:
total = pizza + samosa + ice_cream
total

220.5

In [12]:
type(total)

float

In [13]:
above_thresold = total > 200
above_thresold

True

In [14]:
type(above_thresold)

bool

**Integer** is a whole number with no decimal point. e.g. 34, 12, 500

**Float** is a number with decimal point. e.g. 1.34, 0.45, 100.5

**String** data types store text information

**Boolean** type is used to store true or false value

### Everything is an Object in Python

In [15]:
foo = 'jalebi'
foo

'jalebi'

In [16]:
bar = foo
bar

'jalebi'

In [17]:
id(foo)

1839011015504

In [18]:
id(bar)

1839011015504

### Variable Naming Rules

#### 1. Can't use reserved keywords to store variable names

In [19]:
True=5

SyntaxError: cannot assign to True (3091963775.py, line 1)

In [20]:
def = "Hello"

SyntaxError: invalid syntax (1533978222.py, line 1)

#### 2. Special characters are not allowed

$name="Sujoy"

In [21]:
pizza^ = 10990

SyntaxError: invalid syntax (3170077563.py, line 1)

#### 3. Variable names must begin with letter or _

In [22]:
4you="me"

SyntaxError: invalid decimal literal (1975557746.py, line 1)

In [23]:
$address="blah"

SyntaxError: invalid syntax (2488452656.py, line 1)

#### 4. Remaining characters should be a to z OR A to Z OR 0 to 9 OR _

In [24]:
abc$xyz=6

SyntaxError: invalid syntax (3943422283.py, line 1)